footer
	a(href="https://twitter.com/anamariasosam", target="_blank").social-icon
		img(src="images/twitter-wrap.png", alt="Twitter")
	a(href="https://www.facebook.com/profile.php?id=1196953549", target="_blank").social-icon
		img(src="images/facebook-wrap.png", alt="Facebook")
	p &copy; 2015 Ana María Sosa.