doctype html
html
  head
    title= "Ana Maria"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800', type='text/css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/responsive.css')

  body
    block body


    script(src="components/jquery/dist/jquery.min.js")
    script(src="scripts/main.js")
