/*****************************
			GENERAL
******************************/
a {
	color: #7000B6
	text-decoration none
}

body{
	color #999
	background-color #fff
	font-family 'Open Sans', sans-serif
	margin 0
}

#wrapper{
	max-width 940px
	margin 0 auto
	padding 0 5%
}

img {
	max-width 100%
}

h1,h2 {
	color #fff
}

h3{
	margin 0 0 1em 0
}


@import "components/header.styl"
@import "components/footer.styl"
@import "components/portfolio.styl"
@import "components/about.styl"
@import "components/contact.styl"




