/*****************************
			GENERAL
******************************/
a {
	color: #7000B6
	text-decoration none
}

body{
	color #999
	background-color #fff
	font-family 'Open Sans', sans-serif
}

#wrapper{
	max-width 940px
	margin 0 auto
	padding 0 5%
}

img {
	max-width 100%
}


@import "components/header.styl"
@import "components/footer.styl"
@import "components/portfolio.styl"

// logo text
h1,h2 {
	color #fff
}


