/**********************************
			FOOTER
***********************************/
footer{
	font-size 0.75em
	text-align center
	padding-top 50px
	color #ccc
	clear both
}
.social-icon img{
	width 30px
	height 30px
	margin 0 10px
}
