/**********************************
			COLORS
***********************************/

// purple header
header{
	background-color #CE45FF
	border-color #CE45FF
}
// nav background on mobile 
nav{
	text-align center
	padding 10px 0
	margin 20px 0 0
	background-color #C560FF
}
// nav link
nav a, nav:visited{
	color #fff
}
// selected nav link
nav a.selected, a:hover{
	color: #7000B6
	text-decoration none
}
/**********************************
			HEADING
***********************************/
#logo{
	text-align center
	margin 0
}

h1{
	font-family 'Changa One', sans-serif
	margin 15px 0
	font-size 1.75em
	font-weight normal
	line-height 0.8em
}

h2{
	font-size 0.75em
	margin -5px 0 0
	font-weight normal
}