extends views/layout

block body

    include views/components/header
    #wrapper
        section
            img(src="images/me.png", alt="Photograph of Ana Maria Sosa").profile-photo
            h3 About
            p Hi, I'm Ana María! This is my blog where I will share all of my favourite things of tech and entrepreneurship. When I'm not learning to be front end developer girl, I enjoy exercising, watching movies,and more.
    include views/components/footer