extends views/layout

block body

    include views/components/header
    #wrapper
        section#primary
          h3 General Information
          p I am currently looking for work, but  I'm also available to help if you have any questions, contact me!
        section#secondary
          h3 Contact Details
          ul.contact-info
            li.phone
              a(href="tel:57:315-553-3098", target="_blank") (+57) 315-553-3098
            li.mail
              a(href="mailto:anamariasosam@gmail.com", target="_blank") anamariasosam@gmail.com
            li.twitter
              a(href="http://twitter.com/intent/tweet?screen_name=anamariasosam", target="_blank") @anamariasosam
    include views/components/footer